@import "media-queries";

$asideWidth: 70px;
$gap: 0px;
$leftBlockWidth: 25%;
$rightBlockWidth: 20%;
$darkGrey: #2A303E;
$lightGrey: #D7D3D7;
$white: #FFFFFF;
$pink: #CB6F98;
$black: #2A303E;
$refColor: #837A8F;
