@import "fonts";
@import "libs";
@import "vars";
@import "media-queries";

@import 'parts/commonStyles';
@import 'parts/aside';
@import 'parts/templateSinglePage';

html{
	body{
		.fixed_layout{		
			.middle_section{
				background-image: linear-gradient(rgba(42, 48, 62, 0.07)), url(../images/ab_main_ph_01.jpg);
				background-position-y: center;
				background-position-x: center;
			}
		}
		.content{
			$size: 550px;
			width: $size;
			margin-top: 100px;
			.info_block{
				color: $white;
				h3{
					// font-family: "Apple Color Emoji";
					font-size: 30px;
					line-height: 39px;
				}
				p{
					// font-size: 15px;
					// font-weight: bold;
					// line-height: 23px;
					font-family: "Open Sans";
					font-size: 18px;
					font-weight: 800;
					line-height: 25px;
					margin-top: 12px;
					margin-bottom: 12px;
					a{
						color: $white;
						text-decoration: none;
						border-bottom: 4px solid $pink;
						&:hover{
							color: $pink;
						}
					}
				}
				.img_wrap{
					margin-top: 7px;
					margin-bottom: 40px;
					width: 100%;
					position: relative;
					img{
						width: 100%;
					}
					.wards_onright{
						position: absolute;
						left: 400px;
						top: 160px;
						transform: translateX(-50%);
						width: 72px;
						height: 62px;
						background-color: $pink;
						z-index: 300;
						display: flex;
						justify-content: center;
						align-items: center;
						cursor: pointer;
						img{
							width: 45%;
						}

					}
					.slider_wrap{
						width: 400px;
						overflow: hidden;
						display: flex;
						position: relative;
						.slide{
							transition: all .5s;
							min-width: 100%;
							width: 100%;
							// background-color: green;
							height: 400px;
							&.long{
								height: 600px;
							}
							.img_wrap{
								img{
									width: 100%;
								}
							}

						}
					}
					.pagin_wrap{
						z-index: 300;
						font-size: 12px;
						display: flex;
						.counter_slides{
							height: 17px;
							span{
								// color: $darkGrey;
								// color: red;
								display: block;
								transition: all .2s linear;
							}
						}

					}
				}
			}
		}
	}
}
@include mq($max-width: 768px){
	html{
		body{
			.fixed_layout{
				.left_section{

				}
				.middle_section{


				}
				.right_section{

				}
			}
			.screen_name_wrap{

			}
			.content{
				$size: 70vw;
				margin-top: 40vh;
				width: 70vw;
				float: left;
			}
		}
	}
}

@include mq($max-width: 480px){
	html{
		body{
			.fixed_layout{
				.left_section{

				}
				.middle_section{


				}
				.right_section{

				}
			}
			.screen_name_wrap{

			}
			.content{
				$size: 70vw;
				margin-top: 40vh;
				width: 85vw;
				float: left;
				.info_block{
					h3{
						font-size: 6vw;
					}
					.img_wrap{
						.wards_onright{
							left: $size;
							top: 110px;
							width: 56px;
							height: 48px;
						}
						.slider_wrap{
							width: $size;
							.slide{
								height: $size;
								&.long{
									height: $size * 1.6;
								}
							}
						}
					}
					
				}
			}
		}
	}
}