@import "fonts";
@import "libs";
@import "vars";
@import "media-queries";

@import 'parts/commonStyles';
@import 'parts/aside';
@import 'parts/templateSinglePage';

html{
	body{
		.fixed_layout{		
			.middle_section{
				background-image: linear-gradient(rgba(42, 48, 62, 0.07)), url(../images/04_main_page.jpg);
				background-position-y: center;
				background-position-x: center;
			}
		}
		.content{
			$size: 400px;
			width: $size;
			margin-top: 100px;
			.info_block{
				color: $white;
				h3{
					// font-family: "Apple Color Emoji";
					font-size: 30px;
					line-height: 39px;
				}
				p{
					font-size: 15px;
					font-weight: bold;
					line-height: 23px;
				}
				.img_wrap{
					width: 100%;
					position: relative;
					img{
						width: 100%;
					}
					.wards_onright{
						position: absolute;
						left: $size;
						top: 160px;
						transform: translateX(-50%);
						width: 72px;
						height: 62px;
						background-color: $pink;
						z-index: 300;
						display: flex;
						justify-content: center;
						align-items: center;
						cursor: pointer;
						img{
							width: 45%;
						}

					}
					.slider_wrap{
						width: $size;
						overflow: hidden;
						display: flex;
						position: relative;
						.slide{
							transition: all .5s;
							min-width: 100%;
							width: 100%;
							// background-color: green;
							height: $size;
							.img_wrap{
								img{
									width: 100%;
								}
							}

						}
					}
					.pagin_wrap{
						z-index: 300;
						font-size: 12px;
						display: flex;
						.counter_slides{
							height: 17px;
							span{
								// color: $darkGrey;
								// color: red;
								display: block;
								transition: all .2s linear;
							}
						}

					}
				}
			}
		}
	}
}
@include mq($max-width: 768px){
	html{
		body{
			.fixed_layout{
				.left_section{

				}
				.middle_section{


				}
				.right_section{

				}
			}
			.screen_name_wrap{

			}
			.content{
				$size: 70vw;
				margin-top: 40vh;
				width: 70vw;
				float: left;
			}
		}
	}
}

@include mq($max-width: 480px){
	html{
		body{
			.fixed_layout{
				.left_section{

				}
				.middle_section{


				}
				.right_section{

				}
			}
			.screen_name_wrap{

			}
			.content{
				$size: 70vw;
				margin-top: 40vh;
				width: 85vw;
				float: left;
			}
		}
	}
}