@import "fonts";
@import "libs";
@import "vars";
@import "media-queries";

html { 
	font-size: 18px;
	height: 100%;
	width: 100%;
}

.clearfix:after{
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.trim{
	overflow: hidden;
}

.hidden{
	visibility: hidden;
}

.hidden_up{
	transform: translateY(-100%);
	opacity: 0;
}
.hidden_down{
	transform: translateY(100%);
	opacity: 0;
}
.visibleY{
	transform: translateY(0%);
	opacity: 1;
	transition: all .5s linear;
}

@import 'parts/template';
@import 'parts/mainScreen';
@import 'parts/trainingWithMe';
@import 'parts/yourWay';
@import 'parts/myWards';
@import 'parts/askPage';
@import 'parts/modalWindows';
@import 'parts/contacts';



@import './parts/media/media_1280px';
@import './parts/media/media_1024px';
@import './parts/media/media_768px';
@import './parts/media/media_480px';
@import './parts/media/media_320px';

@import './parts/media/media_iphone4';
// @import "includes/layout/layout";
