@import "fonts";
@import "libs";
@import "vars";
@import "media-queries";

@import 'parts/commonStyles';
@import 'parts/aside';
@import 'parts/templateSinglePage';

html{
	body{
		.fixed_layout{		
			.middle_section{
				background-image: linear-gradient(rgba(42, 48, 62, 0.07)), url(../images/04_main_page.jpg);
				background-position-y: center;
				background-position-x: center;
			}
		}
		.content{
			$size: 400px;
			width: $size;
			margin-top: 100px;
			h4{
				color: $white;
				font-size: 14px;
				font-weight: 800;
				line-height: 19px;
				margin: 5px 0;
			}
			h3{
				color: $white;
				font-size: 24px;
				font-weight: 800;
				line-height: 31px;
			}
			.card_body{
				border-radius: 15px;
				background-color: #C5B3BB;
				box-shadow: 16px 12px 19px 0 rgba(0,0,0,0.15);
				padding: 20px;
				position: relative;
				width: 80%;
				margin-top: 30px;
				margin-bottom: 30px;
				.copy_btn{
					position: absolute;
					background-color: $pink;
					// border-radius: 4px;
					width: 250px;
					text-align: center;
					right: -20px;
					top: 20px;
					p{
						padding: 30px 40px;
						color: $white;
						font-size: 10px;
						text-transform: uppercase;
					}
				}
				.logo_wrap{
					height: 30px;
					width: 30px;
					img{
						width: 100%;
					}

				}
				.cheep_wrap{
					height: 48px;
					width: 48px;
					border-radius: 7px;
					background-color: #B6A5AD;
					margin-top: 10px;
					margin-bottom: 10px;
				}
				.card_number_wrap{
					margin-top: 10px;
					margin-bottom: 10px;
					span{
						margin-right: 15px;
						// color: #837A8F;
						color: #2A303E;
						font-family: "Open Sans";
						font-size: 25px;
						line-height: 34px;
						font-weight: 100;
					}
				}
				.card_stripe{
					border-radius: 2px;
					background-color: #B6A5AD;
					height: 20px;
					width: 70%;
					margin-top: 10px;
					margin-bottom: 10px;
				}

			}
			p{
				font-size: 15px;
				font-weight: bold;
				line-height: 23px;
				color: $white;
			}
		}
	}
}
@include mq($max-width: 768px){
	html{
		body{
			.fixed_layout{
				.left_section{

				}
				.middle_section{


				}
				.right_section{

				}
			}
			.screen_name_wrap{

			}
			.content{
				$size: 70vw;
				margin-top: 40vh;
				width: 55vw;
				float: left;
				
			}
		}
	}
}

@include mq($max-width: 480px){
	html{
		body{
			.fixed_layout{
				.left_section{

				}
				.middle_section{


				}
				.right_section{

				}
			}
			.screen_name_wrap{

			}
			.content{
				$size: 70vw;
				margin-top: 40vh;
				width: 85vw;
				float: left;
				.card_body{
					.copy_btn{
						width: 180px;
						right: -10px;
						p{
							padding: 20px 0;
						}
					}
					.card_number_wrap{
						span{
							font-size: 20px;
						}
					}
				}
			}
		}
	}
}