@import "fonts";
@import "libs";
@import "vars";
@import "media-queries";

@import 'parts/commonStyles';
@import 'parts/aside';
@import 'parts/templateSinglePage';

html{
	body{
		.fixed_layout{		
			.middle_section{
				background-image: linear-gradient(rgba(42, 48, 62, 0.07)), url(../images/04_main_page.jpg);
				background-position-y: center;
				background-position-x: center;
			}
		}
		.content{
			$size: 400px;
			width: $size;
			margin-top: 100px;
			h3{
				// color: green;
			}
			.card_body{
				border-radius: 15px;
				background-color: #C5B3BB;
				box-shadow: 16px 12px 19px 0 rgba(0,0,0,0.36);
				padding: 15px;
				position: relative;
				.copy_btn{
					position: absolute;
					background-color: $pink;
					border-radius: 4px;
					right: -20px;
					top: 20px;
					p{
						padding: 10px 20px;
					}
				}
				.logo_wrap{
					height: 30px;
					width: 30px;
					border-radius: 50%;
					background-color: #B6A5AD;
					margin-top: 10px;
					margin-bottom: 10px;

				}
				.cheep_wrap{
					height: 48px;
					width: 48px;
					border-radius: 7px;
					background-color: #B6A5AD;
					margin-top: 10px;
					margin-bottom: 10px;
				}
				.card_number_wrap{
					margin-top: 10px;
					margin-bottom: 10px;
					span{
						margin-right: 8px;
					}
				}
				.card_stripe{
					border-radius: 2px;
					background-color: #B6A5AD;
					height: 7px;
					width: 60%;
					margin-top: 10px;
					margin-bottom: 10px;
				}

			}
		}
	}
}
@include mq($max-width: 768px){
	html{
		body{
			.fixed_layout{
				.left_section{

				}
				.middle_section{


				}
				.right_section{

				}
			}
			.screen_name_wrap{

			}
			.content{
				$size: 70vw;
				margin-top: 40vh;
				width: 70vw;
				float: left;
				
			}
		}
	}
}

@include mq($max-width: 480px){
	html{
		body{
			.fixed_layout{
				.left_section{

				}
				.middle_section{


				}
				.right_section{

				}
			}
			.screen_name_wrap{

			}
			.content{
				$size: 70vw;
				margin-top: 40vh;
				width: 85vw;
				float: left;
			}
		}
	}
}