@import "fonts";
@import "libs";
@import "vars";
@import "media-queries";

@import 'parts/template';
@import 'parts/askPage';

html{
	body{
		.left_sidebar{
			.pagin_wrap{
				a{
					color: $white;
					transform: rotateZ(-90deg);
					text-transform: uppercase;
					text-decoration: none;
					font-size: 11px;
					line-height: 15px;
				}

			}
		}
	}
}