@import "fonts";
@import "libs";
@import "vars";
@import "media-queries";

@import 'parts/commonStyles';
@import 'parts/aside';
@import 'parts/templateSinglePage';

html{
	body{
		
		.fixed_layout{
			
			.left_section{
				
			}
			.middle_section{
				background-image: linear-gradient(rgba(42, 48, 62, 0.07)), url(../images/05_main_page.jpg);
				background-position-y: center;
				background-position-x: center;
			}
			.right_section{

			}
		}
		.screen_name_wrap{

		}

		.content{
			position: relative;
			width: 30vw;
			float: right;
			margin-right: 10vw;
			margin-top: 45vh;
			.tabs_wrap{
				margin-bottom: 20px;
				.container_tab{
					border-bottom: 2px solid $darkGrey;
					// background-color: grey;
					font-size: 1rem;
					&:first-child{
						border-top: 2px solid $darkGrey;
					}
					.question_wrap{
						// background-color: blue;
						display: flex;
						align-items: center;
						justify-content: space-between;
						color: $darkGrey;
						padding-top: 20px;
						padding-bottom: 20px;
						cursor: pointer;
						p{
							font-size: 15px;
							font-weight: 800;
						}
						.toggle_btn{
							$size: 11px;
							height: $size;
							width: $size;
							// background-color: pink;
							position: relative;
							.first_stripe{
								height: $size/5;
								width: $size;
								background-color: $darkGrey;
								position: absolute;
								left: 50%;
								top: 50%;
								transform: translate(-50%, -50%)
							}
							.second_stripe{
								height: $size/5;
								width: $size;
								background-color: $darkGrey;
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%) rotate(90deg);
								transition: transform 1s;
								&.active{
									transform: translate(-50%, -50%) rotate(0deg)
								}
							}
						}
					}
					.answer_wrap{
						max-height: 0;
						overflow: hidden;
						transition: max-height .2s linear;
						&.active{
							// display: block;
						}
						p{
							font-size: 12px;
							font-weight: 600;
							box-sizing: border-box;
							border-bottom: 15px transparent solid;
							a{
								color: $pink;
							}

						}
					}
				}
			}
		}

		
	}
}

// 768 - 1024

@include mq($max-width: 1024px){

}

// 480 - 768

@include mq($max-width: 768px){
	html{
		body{
			.fixed_layout{
				.left_section{

				}
				.middle_section{


				}
				.right_section{

				}
			}
			.screen_name_wrap{

			}
			.content{
				margin-top: 35vh;
				width: 70vw;
				float: left;
			}
		}
	}
}
@include mq($max-width: 480px){
	html{
		body{
			.fixed_layout{
				.left_section{

				}
				.middle_section{

				}
				.right_section{

				}
			}
			.screen_name_wrap{

			}
			.content{
				width: 80vw;
			}
		}
	}
}


