@import "fonts";
@import "libs";
@import "vars";
@import "media-queries";

@import 'parts/commonStyles';
@import 'parts/aside';
@import 'parts/templateSinglePage';

html{
	body{
		.fixed_layout{		
			.middle_section{
				background-image: linear-gradient(rgba(42, 48, 62, 0.07)), url(../images/04_main_page.jpg);
				background-position-y: center;
				background-position-x: center;
			}
		}
		.content{
			$size: 400px;
			// background-color: orange;
			width: $size;
			// height: 2000px;
			margin-top: 100px;

			#wards_onright{
				position: absolute;
				left: $size;
				top: 160px;
				transform: translateX(-50%);
				width: 72px;
				height: 62px;
				background-color: $pink;
				z-index: 300;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				img{
					width: 45%;
				}

			}
			.slider_wrap{
				
				// margin: 0 auto;
				width: $size;
				overflow: hidden;
				display: flex;
				position: relative;
				.slide{
					transition: all .5s;
					min-width: 100%;
					width: 100%;
					// background-color: green;
					height: $size;
					.img_wrap{
						img{
							width: 100%;
						}
					}

				}
			}
			.pagin_wrap{
				z-index: 300;
				font-size: 12px;
				display: flex;
				.counter_slides{
					height: 17px;
					span{
						color: $darkGrey;
						// color: red;
						display: block;
						transition: all .2s linear;
					}
				}

			}


			.feedback_wrap{
				display: grid;
				// background-color: pink;
				margin-top: 40px;
				.feedback_text_wrap{
					
					margin: 10px;
					padding: 15px;
					background-color: $white;
					position: relative;
					border-radius: 21px;
					margin-bottom: 50px;
					margin-left: 5px;
					p{
						font-size: 12px;
					}
					.tail_wrap{
						position: absolute;
						
						width: 30px;
						// background-color: blue;
						img{
							width: 100%;
						}
					}
				}
				.user_wrap{
					// grid-column: 2/3;
					// background-color: yellow;
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
					align-items: center;
					.userpic_wrap{
						&.real{
							width: 50px;
							height: 50px;
							border-radius: 50%;
							overflow: hidden;
							img{
								width: 100%;
							}
						}
						&.bot{
							width: 50px;
							height: 50px;
							img{
								width: 100%;
							}
						}
						
					}
					p{
						color: $darkGrey;
						font-size: 12px;
					}
				}
				&.even{
					// background-color: red;
					grid-template-columns: 80% 20%;
					.feedback_text_wrap{
						grid-column: 1/2;
						.tail_wrap{
							bottom: -9px;
							right: -7px;
						}
					}
					.user_wrap{
						grid-column: 2/3;
					}
				}
				&.odd{
					// background-color: green;
					grid-template-columns: 20% 80%;
					.feedback_text_wrap{
						grid-column: 2/3;
						.tail_wrap{
							bottom: -9px;
							left: -7px;
						}
					}
					.user_wrap{
						grid-column: 1/2;
					}
				}
			}
		}
	}
}
@include mq($max-width: 768px){
	html{
		body{
			.fixed_layout{
				.left_section{

				}
				.middle_section{


				}
				.right_section{

				}
			}
			.screen_name_wrap{

			}
			.content{
				$size: 70vw;
				margin-top: 40vh;
				width: 70vw;
				float: left;
				#wards_onright{
					left: $size;
				}
				.slider_wrap{
					width: $size;
				}
			}
		}
	}
}

@include mq($max-width: 480px){
	html{
		body{
			.fixed_layout{
				.left_section{

				}
				.middle_section{


				}
				.right_section{

				}
			}
			.screen_name_wrap{

			}
			.content{
				$size: 70vw;
				margin-top: 40vh;
				width: 85vw;
				float: left;
				#wards_onright{
					left: $size;
					top: 80px;
					width: 56px;
					height: 48px;
				}
				.slider_wrap{
					width: $size;
					.slide{
						height: $size;
					}
				}
				.feedback_wrap{
					&.even{

						.feedback_text_wrap{

						}
						.user_wrap{

							.userpic_wrap{

							}
							.user_name{
								align-self: flex-end;
							}
						}
					}
					&.odd{
						.user_wrap{
							.user_name{
								align-self: flex-start;
							}
						}
					}
				}
			}
		}
	}
}