doctype html
html(lang='ru=RU')
	head
		title Ritochhka
		//- link(href='css/main.css')
		meta(http-equiv='Content-Type', content='text/html', charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='icon', href='static/images/icons/favicon.ico', type='image/x-icon')
		link(rel='stylesheet', href='static/css/wards.css')
	body
		aside.left_sidebar
			.instagram_wrap
				.rotate_text
					a(href='#') ritochkkka
				.wrap_logo
					img(src='static/images/icons/inst_ico.png')
			.pagin_wrap
				a(href='/') назад
			.next_chapter_wrap
				.rotate_text СЛЕДУЮЩИЙ
				#stripe
		
		.fixed_layout  
			.left_section
			.middle_section
			.right_section
		.screen_name_wrap
					div
						h1 мои
						h1 подопечные
		.content

			
		script(src='static/js/classes.js')
		script(src='static/js/wards.js')