doctype html
html(lang='ru=RU')
	head
		title Ritochhka
		//- link(href='css/main.css')
		meta(http-equiv='Content-Type', content='text/html', charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='icon', href='static/images/icons/favicon.ico', type='image/x-icon')
		link(rel='stylesheet', href='static/css/about_me.css')
	body
		aside.left_sidebar
			.instagram_wrap
				.rotate_text
					a(href='#') ritochkkka
				.wrap_logo
					img(src='static/images/icons/inst_ico.png')
			.pagin_wrap
				a(href='/') назад
			.next_chapter_wrap
				.rotate_text СЛЕДУЮЩИЙ
				#stripe
		
		.fixed_layout  
			.left_section
			.middle_section
			.right_section
		.screen_name_wrap
					div
						h1 больше
						h1 про меня
		.content
			.info_block
				p Привет! Меня зовут Маргарита) Я фитнес-тренер. У меня среднее медициское образовние, и сейчас получаю высшее.
				.img_wrap
					img(src='static/images/06_main_page.jpg')
			.info_block
				h3 Я люблю спорт
				p Привет! Меня зовут Маргарита) Я фитнес-тренер. У меня среднее медициское образовние, и сейчас получаю высшее.
				.img_wrap
					.wards_onright
						img(src='static/images/icons/arrow_ward.svg')
					.slider_wrap.clearfix
						.slide
							.img_wrap
								img(src='./static/images/wards/ph_pod_1.jpg')
						.slide
							.img_wrap
								img(src='./static/images/wards/ph_pod_2.jpg')
						.slide
							.img_wrap
								img(src='./static/images/wards/ph_pod_3.jpg')
					.pagin_wrap.wards
						.counter_slides.trim
						.amount_slides
							span
			.info_block
				h3 #занимайтесь_тем_чем_хотите_а_не_тем_чем_приходится😋💪
				p Мой характер а так же способность помогать людям со мной с детства, поэтому я будущий стоматолог и фитнесс-тренер.
				.img_wrap
					.wards_onright
						img(src='static/images/icons/arrow_ward.svg')
					.slider_wrap.clearfix
						.slide
							.img_wrap
								img(src='./static/images/wards/ph_pod_1.jpg')
						.slide
							.img_wrap
								img(src='./static/images/wards/ph_pod_2.jpg')
						.slide
							.img_wrap
								img(src='./static/images/wards/ph_pod_3.jpg')
					.pagin_wrap.wards
						.counter_slides.trim
						.amount_slides
							span

			
		script(src='static/js/classes.js')
		script(src='static/js/about_me.js')