doctype html
html(lang='ru=RU')
	head
		title Hello World
		//- link(href='css/main.css')
		meta(http-equiv='Content-Type', content='text/html', charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		//- link(rel='icon', href='img/favicon/favicon.png', type='image/x-icon')
		link(rel='stylesheet', href='static/css/main.css')
	body
		aside.left_sidebar
			.instagram_wrap
			.pagin_wrap
			.next_chapter_wrap
		section.screen_wrap
			.left_section
				.screen_name_wrap
					h1 ПЕРСОНАЛЬНЫЙ
					h1 ТРЕНЕР
				.youtube_link_wrap
					a(href='#') смотри тренировку
			.middle_section
		script(src='static/js/libs.min.js')
		script(src='static/js/main.js')
