doctype html
html(lang='ru=RU')
	head
		title Hello World
		//- link(href='css/main.css')
		meta(http-equiv='Content-Type', content='text/html', charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		//- link(rel='icon', href='img/favicon/favicon.png', type='image/x-icon')
		link(rel='stylesheet', href='static/css/main.css')
	body
		.modal_youtube
		aside.left_sidebar
			.instagram_wrap
				.rotate_text
					a(href='#') ritochkkka
				.wrap_logo
					img(src='static/images/icons/inst_ico.png')
			.pagin_wrap
				.current_page_wrap
					p 01
				.stripe
				.amount_page
					p 07
				.points_wrap
					.point.active
					.point
					.point
					.point
					.point
			.next_chapter_wrap
				.rotate_text СЛЕДУЮЩИЙ
				#stripe
		section.screen_wrap.main_screen
			.left_section
			.middle_section
				.screen_name_wrap
					div
						h1 ПЕРСОНАЛЬНЫЙ
						h1 ТРЕНЕР
					.content
				.youtube_link_wrap
					a(href='#') смотри тренировку
					.icon_wrap
						img(src='static/images/icons/play_button.svg')
			.right_section
				.photo_wrap
					img(src='static/images/second_photo.jpg' alt='fitness')
			.hamburger_wrap
				.stripe
				.stripe
				.stripe
		section.screen_wrap.training_with_me
			.left_section
			.middle_section
				.screen_name_wrap
					div
						h1 тренировки
						h1 со мной
					.content
						div
							p 01
							p Тренируйся <span>дома</span> и в <span>зале</span>.
							<span></span>
						div
							p 02
							p Мотивация <span>24/7</span>.
						div
							p 04
							p <span>Индивидуальный рацион</span> питания с учетом твоих пожеланий.
						div
							p 04
							p Ты будешь питаться <span>разнообразно</span>, а заниматься <span>с удовольствием</span>.
						.about_me
							a(href='#') Узнай про меня
			.right_section
		section.screen_wrap.your_way
			.left_section
			.middle_section
				.screen_name_wrap
					div
						h1 твой путь
						h1 к новому телу
					.content
						.slider_wrap.clearfix
							.slide
								.trim
									h6.hidden_down поставить цель
								.step_wrap
									p шаг 01
									.stripe
								.body_part.trim
									p.hidden_down 1Ты хочешь похудеть, подтянуть тело или просто всегда оставаться в форме? Ответь на все эти вопросы в анкете и отправь мне, а самое главное - не забудь про фото "до".
							.slide
								.trim
									h6.hidden_down поставить цель
								.step_wrap
									p шаг 02
									.stripe
								.body_part
									p.hidden_down 2Ты хочешь похудеть, подтянуть тело или просто всегда оставаться в форме? Ответь на все эти вопросы в анкете и отправь мне, а самое главное - не забудь про фото "до".
							.slide
								.trim
									h6.hidden_down поставить цель
								.step_wrap
									p шаг 03
									.stripe
								.body_part
									p.hidden_down 3Ты хочешь похудеть, подтянуть тело или просто всегда оставаться в форме? Ответь на все эти вопросы в анкете и отправь мне, а самое главное - не забудь про фото "до".
			.right_section

		script(src='static/js/libs.min.js')
		script(src='static/js/main.js')
