doctype html
html(lang='ru=RU')
	head
		title Ritochhka
		//- link(href='css/main.css')
		meta(http-equiv='Content-Type', content='text/html', charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='icon', href='static/images/icons/favicon.ico', type='image/x-icon')
		link(rel='stylesheet', href='static/css/payment.css')
	body
		.modal_window.menu
			.wrapper
				.instagram_wrap
					.rotate_text
						a(href='https://www.instagram.com/ritochkkka/') instagram
					.wrap_logo
						img(src='static/images/icons/inst_ico.png')
				.left_side
				.middle_side
					nav
						ul.ordinary_page
							li
								a(href='./aboutMe.html') Обо мне
							li
								a(href='./wards.html') Мои подопечные
							li
								a(href='./questions.html') Вопрос - ответ
							//- li
							//- 	a(href='https://learn.javascript.ru/metrics') Контакты
							//- сделать  якоря или что-то такое
						ul.accent_page
							li
								a(href='static/images/Анкета.png', download) Анкета
							li
								a(href='./payment.html') Оплата курса
					footer
						p ❤Спасибо за дизайн и разработку <a href='https://vk.com/id133644533'>Дарье Куликовой</a> и <a href='https://vk.com/id267295185'>Лёше Куликову</a> 

				.right_side
		.nav-toggle
			.nav-toggle-bar

		aside.left_sidebar
			.instagram_wrap
				.rotate_text
					a(href='https://www.instagram.com/ritochkkka/') instagram
				.wrap_logo
					img(src='static/images/icons/inst_ico.png')
			.pagin_wrap
				a(href='/') назад
			.next_chapter_wrap
				//- .rotate_text СЛЕДУЮЩИЙ
				//- #stripe
		
		.fixed_layout  
			.left_section
			.middle_section
			.right_section
		.screen_name_wrap
					div
						h1 оплата
						h1 курса
		.content
			h4 Стоимость курса тренировок и питания:
			h3 1000 рублей

			.card_body
				.copy_btn
					p скопировать номер карты
				.logo_wrap
					img(src="static/images/icons/sber.svg", alt="")
				.cheep_wrap
				.card_number_wrap
					span 0000
					span 1111
					span 2222
					span 3333
				.card_stripe
			p Просто переведи стоимость курса на карту Сбербанка и укажи в сообщении свои имя и фамилию. 
			

			
		script(src='static/js/classes.js')
		script(src='static/js/payment.js')