doctype html
html(lang='ru=RU')
	head
		title Ritochhka
		//- link(href='css/main.css')
		meta(http-equiv='Content-Type', content='text/html', charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		//- link(rel='icon', href='img/favicon/favicon.png', type='image/x-icon')
		link(rel='stylesheet', href='static/css/questions.css')
	body
		aside.left_sidebar
			.instagram_wrap
				.rotate_text
					a(href='#') ritochkkka
				.wrap_logo
					img(src='static/images/icons/inst_ico.png')
			.pagin_wrap
				a(href='/') назад
			.next_chapter_wrap
				.rotate_text СЛЕДУЮЩИЙ
				#stripe
		
		.fixed_layout  
			.left_section
			.middle_section
				.screen_name_wrap
					div
						h1 отвечу на все
						h1 вопросы
				.content
					.tabs_wrap
						.container_tab
							.question_wrap
								p Могу ли я заниматься дома? 	 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo cumque autem deleniti harum sit quidem enim, blanditiis repellat at provident possimus dignissimos, minus amet! Voluptate aspernatur eaque dolorem ab, beatae repellendus labore natus quas aliquam sapiente quibusdam repellat, amet optio numquam? Pariatur, eius. Quis ipsa, quidem magnam beatae voluptates id! Earum facere nemo officiis. Error odio aperiam delectus ipsum iusto corporis nemo voluptatem. In consequuntur atque, maiores! Quidem quaerat repudiandae maiores inventore pariatur minima velit eligendi molestiae sed, dicta nihil error quo ipsa nisi incidunt enim. Et accusamus dolore ullam tempora officia, tenetur facilis, libero quasi, iure, molestias vitae. Unde nisi hic sunt eum obcaecati. Rem neque nisi, ipsum minima quo cupiditate id officiis labore recusandae magni distinctio, sint numquam necessitatibus eius adipisci quaerat dolores blanditiis earum molestiae. Maiores tempore beatae fugiat accusamus alias fugit enim architecto, placeat, aspernatur, ab voluptatibus! Deserunt repudiandae vero iusto maiores est explicabo, eum hic, adipisci laudantium rerum eveniet doloribus architecto vitae, qui dolores tempore ducimus quisquam enim suscipit ullam magnam dolorum doloremque porro modi facere. Fuga voluptatibus deserunt ducimus ratione praesentium eum voluptatum totam sint id minima nemo quasi exercitationem doloribus voluptate, itaque optio deleniti ut commodi quod ea impedit magni possimus assumenda! Molestias.
								.toggle_btn
									.first_stripe
									.second_stripe
							.answer_wrap
			.right_section
		script(src='static/js/libs.min.js')
		script(src='static/js/classes.js')
		script(src='static/js/questions.js')