doctype html
html(lang='ru=RU')
	head
		title Ritochhka
		//- link(href='css/main.css')
		meta(http-equiv='Content-Type', content='text/html', charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='icon', href='static/images/icons/favicon.ico', type='image/x-icon')
		link(rel='stylesheet', href='static/css/questions.css')
	body
		.modal_window.menu
			.wrapper
				.instagram_wrap
					.rotate_text
						a(href='https://www.instagram.com/ritochkkka/') instagram
					.wrap_logo
						img(src='static/images/icons/inst_ico.png')
				.left_side
				.middle_side
					nav
						ul.ordinary_page
							li
								a(href='./aboutMe.html') Обо мне
							li
								a(href='./wards.html') Мои подопечные
							li
								a(href='./questions.html') Вопрос - ответ
							//- li
							//- 	a(href='https://learn.javascript.ru/metrics') Контакты
							//- сделать  якоря или что-то такое
						ul.accent_page
							li
								a(href='static/images/Анкета.png', download) Анкета
							li
								a(href='./payment.html') Оплата курса
					footer
						p ❤Спасибо за дизайн и разработку <a href='https://vk.com/id133644533'>Дарье Куликовой</a> и <a href='https://vk.com/id267295185'>Лёше Куликову</a> 

				.right_side
		.nav-toggle
			.nav-toggle-bar
		aside.left_sidebar
			.instagram_wrap
				.rotate_text
					a(href='https://www.instagram.com/ritochkkka/') instagram
				.wrap_logo
					img(src='static/images/icons/inst_ico.png')
			.pagin_wrap
				a(href='/') назад
			.next_chapter_wrap
				.rotate_text SCROLL
				#stripe
		
		.fixed_layout  
			.left_section
			.middle_section
			.right_section
		.screen_name_wrap
					div
						h1 отвечу на все
						h1 вопросы
		.content
			.tabs_wrap
				.container_tab
					.question_wrap
						p Могу ли я заниматься дома?
						.toggle_btn
							.first_stripe
							.second_stripe
					.answer_wrap
						p Да, конечно. Я составляю программы тренировок не только для зала, но и для занятий в домашних условиях, если у тебя нет возможности заниматься в зале.
				.container_tab
					.question_wrap
						p Как будут проходить тренировки?
						.toggle_btn
							.first_stripe
							.second_stripe
					.answer_wrap
						p Я буду скидывать тебе видео с тренировкой, в котором объясню технику каждого упражнения, прям как в этом <a href='https://youtu.be/PS0JGTBfWKs', target="_blank">видео</a>
				.container_tab
					.question_wrap
						p Точно ли я похудею, наберу вес или изменю качество тела?
						.toggle_btn
							.first_stripe
							.second_stripe
					.answer_wrap
						p Тут всё зависит не только от меня. Со своей стороны я гарантирую, что соблюдая мою программу питания и тренировок ты обязательно добьёшься поставленных целей.
				.container_tab
					.question_wrap
						p Как составляется рацион питания?
						.toggle_btn
							.first_stripe
							.second_stripe
					.answer_wrap
						p Для начала тебе необходимо заполнить <a href='static/images/Анкета.png', download>анкету</a>, в которой ты укажешь любимые продукты и количество приемов пищи. Исходя из твоих целей и предпочтений в еде, я составлю индивидуальное меню. Но это не означает, что тебе нужно питаться по шаблону. Моя главная цель – научить тебя тому, как нужно строить свой рацион. В итоге ты сможешь самостоятельно составлять себе меню, с учетом необходимых ккал в сутки и правильным соотношением К/Б/Ж/У (белки, жиры, углеводы).
				.container_tab
					.question_wrap
						p Как происходит оплата?
						.toggle_btn
							.first_stripe
							.second_stripe
					.answer_wrap
						p Оплата производится на карту сбербанка.  Номер карты 2202 2001 0585 6486.
				.container_tab
					.question_wrap
						p Сколько мне потребуется времени, чтобы привести себя в порядок?
						.toggle_btn
							.first_stripe
							.second_stripe
					.answer_wrap
						p  Все зависит от твоей генетики, возраста, физической подготовки и цели. Все люди имеют разный потенциал к росту мышечной массы, поэтому необходимое время для достижения твоей цели станет понятно в процессе тренировок и правильного питания.
				.container_tab
					.question_wrap
						p Обязательно ли делать фотоотчет?
						.toggle_btn
							.first_stripe
							.second_stripe
					.answer_wrap
						p Да, обязательно. Ты видишь себя каждый день, и можешь не замечать как уходят миллиметры. Легко привыкнуть к своему отражению, а когда мы делаем коллаж и сравниваем, то прогресс сразу виден.
				.container_tab
					.question_wrap
						p Можно ли мне тренироваться, если мой ребенок на ГВ?
						.toggle_btn
							.first_stripe
							.second_stripe
					.answer_wrap
						p Да, тренировки никак не влияют на грудное вскармливание, но лучше проконсультироваться с врачом. 
				.container_tab
					.question_wrap
						p Сколько длится оплаченный курс или я оплачиваю только единоразовые тренировки?
						.toggle_btn
							.first_stripe
							.second_stripe
					.answer_wrap
						p Я контролирую и помогаю тебе в течение одного месяца. Если ты и в следующем месяце захочешь заниматься под моим руководством, то тебе нужно будет оплатить только 50% от начальной стоимости.
				.container_tab
					.question_wrap
						p Через какое время после оплаты я получу программу питания или тренировок?
						.toggle_btn
							.first_stripe
							.second_stripe
					.answer_wrap
						p Через 1 день. Это время мне необходимо для того, чтобы проанализировать твою анкету,  фото “до” и составить индивидуальную программу.
				.container_tab
					.question_wrap
						p Как все проходит?
						.toggle_btn
							.first_stripe
							.second_stripe
					.answer_wrap
						p 1. Ты заполняешь <a href='static/images/Анкета.png', download>анкету</a>.
						p 2. Ты делаешь фото “до” в трех ракурсах(спереди, сбоку и сзади).
						p 3. Ты оплачиваешь программу питания или тренировок. Можно все вместе.
						p 4. Я в течение суток присылаю весь материал и подробно объясняю всё лично с помощью голосовых сообщений в WhatApp.
						p 5. Я контролирую то, как ты соблюдаешь мои рекомендации.
						p 6. Ты присылаешь мне каждый день отчёт о том, что и сколько ты съела/съел за сутки.
						p 7. Ты присылаешь результаты своего веса утром натощак один раз в неделю.
						p 8. Ты присылаешь мне фотоотчёт один раз в месяц в трех ракурсах для контроля.
		script(src='static/js/libs.min.js')
		script(src='static/js/classes.js')
		script(src='static/js/questions.js')