doctype html
html(lang='ru=RU')
	head
		title Ritochhka
		//- link(href='css/main.css')
		meta(http-equiv='Content-Type', content='text/html', charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		//- link(rel='icon', href='img/favicon/favicon.png', type='image/x-icon')
		link(rel='stylesheet', href='static/css/questions.css')
	body
		aside.left_sidebar
			.instagram_wrap
				.rotate_text
					a(href='#') ritochkkka
				.wrap_logo
					img(src='static/images/icons/inst_ico.png')
			.pagin_wrap
				a(href='/') назад
			.next_chapter_wrap
				.rotate_text СЛЕДУЮЩИЙ
				#stripe
		section.screen_wrap.ask_page
			.left_section
			.middle_section
				.screen_name_wrap
					div
						h1 отвечу на все
						h1 вопросы
					.content
						.tabs_wrap
							.container_tab
								.question_wrap
									p Могу ли я заниматься дома?
									.toggle_btn
										.first_stripe
										.second_stripe
								.answer_wrap
									p 1Все задания будут скидываться вам лично. В видеотренировке также будет рассказано, как нужно делать упражнение.
							.container_tab
								.question_wrap
									p Могу ли я заниматься дома?
									.toggle_btn
								.answer_wrap
									p 2Все задания будут скидываться вам лично. В видеотренировке также будет рассказано, как нужно делать упражнение.Все задания будут скидываться вам лично. В видеотренировке также будет рассказано, как нужно делать упражнение.
							.container_tab
								.question_wrap
									p Могу ли я заниматься дома?
									.toggle_btn
								.answer_wrap
									p 1Все задания будут скидываться вам лично. В видеотренировке также будет рассказано, как нужно делать упражнение.
							.container_tab
								.question_wrap
									p Могу ли я заниматься дома?
									.toggle_btn
								.answer_wrap
									p 2Все задания будут скидываться вам лично. В видеотренировке также будет рассказано, как нужно делать упражнение.Все задания будут скидываться вам лично. В видеотренировке также будет рассказано, как нужно делать упражнение.
							.container_tab
								.question_wrap
									p Могу ли я заниматься дома?
									.toggle_btn
								.answer_wrap
									p 1Все задания будут скидываться вам лично. В видеотренировке также будет рассказано, как нужно делать упражнение.
							.container_tab
								.question_wrap
									p Могу ли я заниматься дома?
									.toggle_btn
								.answer_wrap
									p 2Все задания будут скидываться вам лично. В видеотренировке также будет рассказано, как нужно делать упражнение.Все задания будут скидываться вам лично. В видеотренировке также будет рассказано, как нужно делать упражнение.
			.right_section
		script(src='static/js/libs.min.js')
		script(src='static/js/questions.js')