doctype html
html(lang='ru=RU')
	head
		title Ritochhka
		//- link(href='css/main.css')
		meta(http-equiv='Content-Type', content='text/html', charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='icon', href='static/images/icons/favicon.ico', type='image/x-icon')
		link(rel='stylesheet', href='static/css/wards.css')
	body
		aside.left_sidebar
			.instagram_wrap
				.rotate_text
					a(href='#') ritochkkka
				.wrap_logo
					img(src='static/images/icons/inst_ico.png')
			.pagin_wrap
				a(href='/') назад
			.next_chapter_wrap
				.rotate_text СЛЕДУЮЩИЙ
				#stripe
		
		.fixed_layout  
			.left_section
			.middle_section
			.right_section
		.screen_name_wrap
					div
						h1 мои
						h1 подопечные
		.content

			#wards_onright
				img(src='static/images/icons/arrow_ward.svg')
			.slider_wrap.clearfix
				.slide
					.img_wrap
						img(src='./static/images/wards/ph_pod_1.jpg')
				.slide
					.img_wrap
						img(src='./static/images/wards/ph_pod_2.jpg')
				.slide
					.img_wrap
						img(src='./static/images/wards/ph_pod_3.jpg')
				.slide
					.img_wrap
						img(src='./static/images/wards/ph_pod_4.jpg')
				.slide
					.img_wrap
						img(src='./static/images/wards/ph_pod_5.jpg')
				.slide
					.img_wrap
						img(src='./static/images/wards/ph_pod_6.jpg')
				.slide
					.img_wrap
						img(src='./static/images/wards/ph_pod_7.jpg')
			.pagin_wrap.wards
				.counter_slides.trim
				.amount_slides
					span


			.feedback_wrap.even
				.feedback_text_wrap
					.tail_wrap
						img(src='static/images/icons/buble_2.svg')
					p Я на работе сегодня еле ползаю😂
					p несмотря на трудности тренировки, очень интересно, разнообразие. Но мышцы болят сейчас очень ощутимо😄
					p Если бы ты была рядом, то я уже на первой тренировке писала бы завещание😂
				.user_wrap
					.userpic_wrap.real
						img(src='static/images/user_pic/feedback_img.jpg')
					.user_name
						p @fox_yana_ivanova
			.feedback_wrap.odd
					.user_wrap
						.userpic_wrap.real
							img(src='static/images/user_pic/feedback_img_2.jpg')
						.user_name
							p @_ekaterinushka_
					.feedback_text_wrap
						.tail_wrap
							img(src='static/images/icons/bubble_tail.svg')
						p Я чисто случайно у Ларисы увидела тебя и меня заинтересовала твоя страница, посты. Интересно стало читать, смотреть красивые фото, которые мотивируют. Сейчас я в декрете и считаю, мифом то, что девушка, родившая ребенка должна плохо выглядеть и быть замученной.
			.feedback_wrap.even
				.feedback_text_wrap
					.tail_wrap
						img(src='static/images/icons/buble_2.svg')
					p Рииита, первый раз, когда мне нравится фото «Вид сзади». Я коненчо понимаю, что ещё есть над чем работать, но тем не менее прогресс на «лицо». Спасибо тебе огромное, что занимаешься этим, помогаешь людям совершенствоваться. Я не знаю, чтобы делала без тебя 💜
				.user_wrap
					.userpic_wrap.bot
						img(src='static/images/user_pic/woman.png')
					.user_name
						p Катя
			.feedback_wrap.odd
				.user_wrap
					.userpic_wrap.bot
						img(src='static/images/user_pic/woman.png')
					.user_name
						p Наташа
				.feedback_text_wrap
					.tail_wrap
						img(src='static/images/icons/bubble_tail.svg')
					p Почему я выбрала тебя как тренера? Честно говоря не знаю) я по началу долго думала, ведь по сей день нет возможности пока оплачиввать что либо😅 но потом, пообщавшись немного, по тебе видно, ты открытый человек и мне это нравится. Учитывая, что ты тоже из медицинского крыла жизни, тебе будет проще что-либо мне объяснить, хоть даже на малекулярном уровне😂. Да и вообще, ты меня как человек заинтересовала. Вдобавок мне понравился твой профиль. Информация в нем полезная и ты не маленькая девочка, которая набирает дохера народа на месяц, и выкладывает 1000 сторис в день. (Нет, правда, это мой крик души)😂😂😂. Да и учесть, как ты играешь роль тренера, с тобой я думаю подход будет серьёзным. Вообще я выбрала тебя ещё и как собеседника, ты же не против иногда не по работе отвлекаться?💁
		script(src='static/js/classes.js')
		script(src='static/js/wards.js')