@import "../vars";
@import "../libs";


html{
	body{
		.left_sidebar{
			height: 100vh;
			width: $asideWidth;
			position: fixed;
			// background-color: pink;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			z-index: 10;
			overflow: hidden;
			.instagram_wrap{
				// height: 100px;
				// width: 10px;
				// background-color: yellow;
				.rotate_text{
					transform: rotate(-90deg);
					margin-top: 75px;
					font-size: 14px;
					font-weight: bold;
					line-height: 13px;
					a{
						text-decoration: none;
						color: $white;
					}
				}
				.wrap_logo{
					width: 19px;
					height: 19px;
					// background-color: green;
					margin: 0 auto;
					margin-top: 43px;
					img{
						width: 100%;
						height: auto;
					}
				}
			}
			.pagin_wrap{
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				height: 100px;
				width: 50px;
				// background-color: green;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				.current_page_wrap{
					margin-bottom: 8px;
					font-size: 0.8rem;
					color: $pink;
					// background-color: green;
					height: 20px;
					overflow: hidden;
					p{
						transition: .4s all;
					}
				}
				.stripe{
					width: 15px;
					height: 2px;
					background-color: $white;
				}
				.amount_page{
					margin-top: 8px;
					font-size: 0.8rem;
					color: $white;
				}
			}
			.next_chapter_wrap{
				height: 80px;
				width: 20px;
				// background-color: grey;
				.rotate_text{
					text-transform: uppercase;
					transform: rotate(-90deg);
					margin-top: -10px;
					font-size: 11px;
					color: $white;
					font-weight: 600;
				}
				#stripe{
					width: 3px;
					height: 64px;
					background-color: $pink;
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					bottom: 0;
				}
			}
		}
	}
}

@include mq($max-width: 1024px){
	html{
		body{
			.left_sidebar{
				width: 9%;
				.instagram_wrap{

				}
				.pagin_wrap{

				}
				.next_chapter_wrap{

				}
			}
		}
	}
}