@import "../vars";
@import "../libs";

body{
	.screen_wrap.contacts_block{
		.middle_section{
			background-image: url(../images/06_main_page.jpg);
			background-position-y: top;
			background-position-x: center;
			.content{
				right: 130px;
				ul{
					margin: 0;
					padding: 0;
					list-style: none;
					li{
						margin-top: 10px; 
						&:first-child{
							margin-top: 0;
						}
						a{
							text-decoration: none;
							color: $white;
							border-bottom: 2px solid $pink;
							padding-bottom: 4px;
							font-size: 23px;
							font-weight: 800;
						}
					}
				}
			}
		}
	}
}