@import "../vars";
@import "../libs";
@import "../media-queries";

body{
	.modal_window{
		height: 100vh;
		width: 100%;
		position: fixed;
		background-color: $darkGrey;
		z-index: 999;
		// display: block;
		// transition: all 0.3s;
		visibility: hidden;
		transition: all .4s ease;
		opacity: 0;
		&.active{
			visibility: visible;
			opacity: 1;
			// transition: all 3s ease;
			.wrapper{
				display: grid;
				grid-template-columns: repeat(12, 1fr);
				grid-column-gap: 30px;
				.left_side{
					position: absolute;
					height: 100vh;
					width: $asideWidth;
					// background-color: pink;


				}
				.middle_side{
					grid-column: 1/12;
					height: 100vh;
					// background-color: orange;
					background-image: url(../images/меню.jpg);
					background-repeat: no-repeat;
					background-position: right;
					background-size: contain;
					padding-top: 50px;
					padding-left: 7%;
					nav{
						ul{
							padding-left: 0;
							li{
								list-style: none;
								text-transform: uppercase;
								a{
									text-decoration: none;
									font-size: 45px;
								}
							}
							&.ordinary_page{
								li{
									a{
										color: $white;
									}
								}
							}
							&.accent_page{
								li{
									a{
										color: $pink;
									}
								}
							}
						}
					}
					footer{
						position: absolute;
						bottom: 20px;
						p{
							color: $refColor;
							a{
								color: $white;
								text-decoration: none;
								border-bottom: 2px solid $pink;
							}
						}
					}
				}
				.close_wrap{
					width: 20px;
					height: 20px;
					// background-color: green;
					position: fixed;
					right: 30px;
					top: 30px;
					img{
						width: 100%;
					}
				}
				.instagram_wrap{
					position: fixed;
					.rotate_text{
						transform: rotate(-90deg);
						margin-top: 75px;
						font-size: 14px;
						font-weight: bold;
						line-height: 13px;
						a{
							text-decoration: none;
							color: $white;
						}
					}
					.wrap_logo{
						width: 19px;
						height: 19px;
						// background-color: green;
						margin: 0 auto;
						margin-top: 43px;
						img{
							width: 100%;
							height: auto;
						}
					}
				}
			}
		}
		&.youtube{
			background-color: $darkGrey;
			.wrapper{
				display: flex;
				height: 100%;
				width: 100%;
				justify-content: center;
				align-items: center;
				.iframe_wrap{

				}
			}
		}
		&.menu{
			

		}


	}
}

@include mq($max-width: 1024px) {
	body{
		.modal_window{
			&.active{
				.wrapper{
					.left_side{
						grid-column: 1/2;
					}
					.middle_side{
						grid-column: 2/13;
						background-size: cover;
						padding-top: 250px;
					}
					.right_side{
						display: none;
					}
				}
			}
		}		
	}

}

@include mq($max-width: 480px) {
	body {
		.modal_window{
			&.active.menu{
				.wrapper{
					.left_side{
						display: none;
					}
					.middle_side{
						grid-column: 1/13;
						padding-top: 70px;
						padding-left: 60px;
						nav{
							ul{
								li{
									margin: 17px 0;
									a{
										font-size: 22px;
									}

								}
							}
						}
						.accent_page{
							margin-top: 60px;
						}
						footer{
							padding-right: 20px;
							p{
								font-size: 13px;
							}
						}
					}
					.right_side{
						display: none;
					}
					.instagram_wrap{
						.rotate_text{
							margin-top: 50px;
							margin-left: -20px;

						}
						.wrap_logo{
							margin-top: 38px;
							margin-left: 11px;
						}
					}
				}
			}
		}
	}
}

